@tailwind base;
@tailwind components;
@tailwind utilities;

.floating {
  animation: floating 3s infinite ease-in-out;
}

.main-screen {
    @apply sm:w-[414px] w-[100vw] h-[100vh] bg-cover md:bg-contain bg-center relative overflow-hidden
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}